:root{
    --verdepino: #004d3b;
    --verde: #00b389;
    --verdepastel:#e2f1da;
    --verdepino-muted: #3e8672;
    --hueso: #fffaec;
    --lavanda:#d5c4fd;
    --lima:#d5f27e;
    --blanco:#f5f5f5;
    --negro:#222;
    --gris:#555;
    --gris-claro:#b2b2b2;
}